.brands {
  margin: 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row {
  margin: 0;
}
.subtitle {
  color: #f57921;
}
.jumbotron {
  padding: 20px;
  h4 {
    margin: 10px;
  }
}
.bar {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}

.result {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  height: 50px;
  float: left;
  display: block;
}
.result.active.cont {
  padding: 0;
}
.active {
  background-color: #f57921;
  display: inline;
}
.not__visible {
  background-color: #f57921;
  display: none;
}
.visible {
  display: inline-block;
  margin-top: 8px;
}
.one__bg {
  background-color: #c0bebf;
}
.two__bg {
  background-color: #98989a;
}
.three__bg {
  background-color: #979dac;
}
.four__bg {
  background-color: #737476;
}
.five__bg {
  background-color:#f7931d;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 0%;
  text-align: left;
}
.dot__content {
  font-size: 14px;
  position: relative;
  padding: 15px 25px;
}
.buttons {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.questions {
  margin: 10px;
}
.result.active {
  position:relative
}

.result.active p::after {
  position: absolute;
  content: "";
  background: #f57921;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 0%;
  left:calc(50% - 12px);
  transform-origin: bottom left;
  width: 20px;
  height: 20px;
}

.upper {
  height: 100%;
}

.btn {
  color: white;
  background-color: #f57921;
}
.progress {
  margin: 15px;
  .progress-bar {
    background-color: #f57921;
  }
}

@media (max-width: 1024px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
  }

}

@media (max-width: 500px) {
  .result {
    font-size: 12px;
    padding: 10px;
  }
  .visible {
    padding: 5px;
  }
  h1 {
    font-size: 22px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .dot__content {
    font-size: 12px;
  }

}